:root {
	--text-font: "Noto Sans JP", sans-serif;
	--text-color: rgba(0, 0, 0, .87);
	--text-main: 300 14px/24px var(--text-font);
	--text-main-highlight: 400 14px/24px var(--text-font);
	--text-headline: 300 21px/24px var(--text-font);
	--text-subheadline: 400 16px/24px var(--text-font);
	--text-toolbar: 18px/24px var(--text-font);
	--text-small: 300 13px/18px var(--text-font);

	--bg-color: #fafafa;
	--shadow-color: rgba(0, 0, 0, .26);
	--primary-color: #ed1c24;
	--primary-text-color: #fff;
	--divider-color: rgba(0, 0, 0, .14);
}

html, body { margin: 0; background: var(--bg-color); font-family: var(--font-family); height: 100%;  }


/* Animations */
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes fadeout {
	from { opacity: 1; }
	to   { opacity: 0; }
}

@keyframes rotate {
	to  { transform: rotate(360deg); }
}

@keyframes scale {
	from  { transform: scale(0); }
	to  { transform: scale(1); }
}

@keyframes scale2x {
	from  { transform: scale(0); }
	to  { transform: scale(1.5); }
}

@keyframes dash {
	0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
	50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35px; }
	100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124px; }
}

@keyframes move {
	0% { background-position: 0 50%; }
	100% { background-position: -100% 0; }
}

/* Animation for loaded images */
img { opacity: 0; transition: opacity .2s; }
img.-loaded { opacity: 1; }

/* Comnonents */
.landing {
	position: fixed;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
}
	.landing_logo { margin-bottom: 20px; }
	.landing_logo img { opacity: 1 }
	.landing.-hide { display: none; }
	.landing {
		/* Delay of 300ms for showing tap/click animations before showing preloader */
		opacity: 0;
		animation: fadein .2s;
		animation-delay: .3s;
		animation-fill-mode: forwards;
		animation-iteration-count: .5;
	}

	.landing.-show .landing_logo { display: none; }
	.-type-landing + .landing.-show .landing_logo { display: block; }


.app {
	padding-top: 54px;
	margin: auto;
	max-width: 960px;
	min-height: 100%;
	box-sizing: border-box;
}
	.app.-type-modal, .app.-type-page { background: #fff; }


.toolbar {
	background: var(--primary-color);
	color: var(--primary-text-color);
	padding: 209px 8px 9px;
	box-shadow: 0 3px 6px var(--shadow-color);
	position: fixed;
    top: -200px;
    left: 0;
    right: 0;
    z-index: 1;
    animation: fadein .4s;
}
	.toolbar_container { display: flex; align-items: center; max-width: 960px; margin: auto; }
	.toolbar_icons { margin-right: 8px; position: relative; outline: none; }
	.toolbar_icon { display: none; width: 24px; height: 24px; padding: 6px; }
	.toolbar_icon svg { color: currentColor; vertical-align: top; pointer-events: none; }
	.toolbar_title { font: var(--text-toolbar); text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin: 0 32px 0 0; }

	.toolbar_icons-wave {
		position: absolute; top: 0; left: 0; right: 0; bottom: 0;
		background: currentColor;
		opacity: .3;
		transform: scale(0);
		border-radius: 50%;
		pointer-events: none;
		will-change: transform, opacity;
	}
	.toolbar_icons:focus:not(:active) .toolbar_icons-wave { animation: scale2x .2s ease-out, fadeout .2s ease-out; }
	@media (min-width: 1025px) { .toolbar_icons:hover .toolbar_icons-wave { transform: scale(1);  } }

	.-type-landing  .-icon-menu { display: block; }
	.-type-page  	.-icon-menu { display: block; }
	.-type-modal 	.-icon-back { display: block; }


.preloader {
	width: 40px;
	height: 40px;
    color: var(--primary-color);
    transform-origin: center center;
    animation: rotate 1.5s linear infinite;
}
	.preloader circle {
	    fill: none;
	    stroke-width: 2;
	    stroke-miterlimit: 10;
	    stroke-dasharray: 1, 200;
	    stroke-dashoffset: 0;
	    stroke-linecap: round;
	    animation: dash 1.5s ease-in-out infinite;
	}

.navigation {
	width: calc(100% - 56px);
	max-width: 320px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	pointer-events: none;
}
	.navigation::after {
		content: '';
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--shadow-color);
		z-index: -1;
		animation: fadein .2s;
	}

	.navigation_drawer {
		font: var(--text-main);
		background: var(--bg-color);
		height: 100%;
		box-shadow: 2px 0 15px var(--shadow-color);
		overflow-y: auto;
		transform: translate3d(calc(-100% - 56px), 0, 0);
		transition: transform .4s;
	}
		.navigation_drawer-header {
    	background: #f6f6f6;
    	box-shadow: 0 0 3px 0px #0002;
			height: 70px;
			padding: 8px 1px 16px;
		}
			.navigation_drawer-header img { object-fit: contain; width: 50%; }

	.navigation_link { color: var(--text-color); text-decoration: none; display: block; padding: 16px; font-weight: 400; }
	.navigation_link:active, .navigation_link:target { color: var(--primary-color) }

	.navigation.-opened { pointer-events: auto; }
	.navigation.-opened::after { display: block; }
	.navigation.-opened .navigation_drawer { transform: translate3d(0, 0, 0); }

/* @media (min-width: 768px) {
	.navigation {
		pointer-events: auto;
		position: static;
		max-width: none;
		width: auto;
	}
	.navigation.-opened .navigation_drawer,
	.navigation.-closed .navigation_drawer {
		transform: none;
		display: flex;
		box-shadow: none;
	}
} */


/* Components */

.icons {
	display: flex;
	margin: 8px;
	flex-wrap: wrap;
	justify-content: flex-start;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(86px, 1fr));
	/* 3 in row for 320px screens */
	/* 4 in row for 360px screens and higher */
	/* 5 and more for 446px and higher screens */
}

@media (min-width: 768px) {
	.icons {
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	}
}


.icon {
	position: relative;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	color: var(--text-color);
	animation: scale .2s ease-out, fadein .2s;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

	.icon_thumbnail {
		position: relative;
		height: 0;
		padding-top: 100%;
		border: 2px solid;
		border-radius: 21px;
		overflow: hidden;
		background: #fff;
		pointer-events: none;
	}

	.icon_image, .icon_wave {
		--scale: 0;
		display: block;
		position: absolute;
		top: var(--scale);
		bottom: var(--scale);
		left: var(--scale);
		right: var(--scale);
	}

	.icon_image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.icon_wave {
		background: var(--shadow-color);
		border-radius: 50%;
		opacity: 0;
		transform: scale(0);
		will-change: transform, opacity;
		z-index: 1;
		--scale: -15px;
	}

	.icon:focus:not(:active) .icon_wave {
		animation: scale .4s, fadeout .4s;
	}

	.icon_caption {
		text-align: center;
		font: var(--text-main-highlight);
		pointer-events: none;
	}

.fragment {
	min-height: 50px;
}
	.fragment::before,
	.fragment::after { content: ''; display: block; height: 8px; margin: 10px 0; animation: move 4s linear infinite; }
	.fragment::before, .fragment::after {
		background: linear-gradient(90deg, #fafafa, #ddd, #fafafa, #ddd, #fafafa);
		background-size: 200%;
	}
	.fragment::before { width: 50%; }
	.fragment.-loaded::before, .fragment.-loaded::after { display: none; }
	.fragment.-loaded { animation: fadein .4s; min-height: 0; }


.content { font: var(--text-main); color: var(--text-color); animation: fadein .6s; background: #fff; }
	.content_header { display: flex; padding: 16px; border-bottom: 1px solid var(--divider-color); }
	.content_header-image { flex: 0 0 140px; text-align: right; opacity: .9; }
	.content_header-image img { height: 150px; }
	.content_header-icon { width: 116px; }
	.content_header-icon .icon { width: 100px; max-width: none; padding: 0; }
	.content_header-caption { font: var(--text-main); flex-grow: 1; }
	.content_header-title { font: var(--text-headline); margin: 8px 0 0; }
	.content_header-section { font: var(--text-main-highlight); margin: 16px 0 0 }

	@media (min-width: 768px) { .content { padding: 8px; } .content_header { padding: 16px 0; margin: 0 8px; } }


.section { border-bottom: 1px solid var(--divider-color); padding: 0 16px 8px; }
	.section:last-child { border-bottom: none; }
	.section_title { font: var(--text-subheadline); margin: 16px 0 4px; }
	.section_subtitle { font: var(--text-main-highlight); margin: 8px 0 4px; }
	.section_item { font: var(--text-main-highlight); }
	.section_item span { font: var(--text-main); }
	.section_list, .section p, .section .section_item { margin: 4px 0 8px; padding: 0; list-style: none; }
	.section .section_item:first-child { margin-top: 16px; }
	.section_list-item { padding: 4px 0; }
	.section_table { border-collapse: collapse; table-layout: fixed; }
	.section_table th, .section_table td { padding: 8px 16px 8px 0; text-align: left; vertical-align: top; }
	.section_table th { font: var(--text-main-highlight); padding-top: 4px; }
	.section_table td { text-align: center; font: var(--text-small); }
	.section_table tr:nth-child(even) { background: var(--bg-color) }
	.section_table td:nth-child(3) { text-align: left; width: 100%; }
	ol.section_list { list-style: lower-roman; margin-left: 16px; }
	@media (min-width: 768px) {
		.section { padding: 0 0 8px; margin: 0 8px; }
		.section_grid { display: flex; }
		.section_grid .fragment { flex: 1 }
	}


.list { font: var(--text-main-highlight); color: var(--text-color); }
	.list_caption { font: var(--text-headline); margin: 0; padding: 16px; }
	.list_item {
		padding: 16px; outline: none; position: relative; overflow: hidden; cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}
	.list_item-wave {
		position: absolute;
		top: 0; left: -10%;
		width: 120%;
		padding-top: 120%;
		margin-top: -50%;
		border-radius: 50%;
		background: rgba(0,0,0,.1);
		transform-origin: 10% 50%;
		transform: scale(0);
	}
	.list_item:focus:not(:active) .list_item-wave { animation: scale .4s ease-out, fadeout .4s; }
	.list_item:active { background: var(--bg-color); }

	@media (min-width: 1025px) {
		.list_item { transition: background-color .4s; }
		.list_item:hover { background: var(--bg-color) }
	}

.list-group { position: relative; z-index: 0; }
	.list-group .list_item { padding-left: 54px; }
	.list-group .list_caption {
		position: absolute; z-index: 1;
		font-weight: 400; color: var(--primary-color);
		padding-left: 20px;
		height: 24px;
		will-change: position;
	}
	.-fixed .list_caption { position: fixed; top: 54px; }
	.-bottom .list_caption { bottom: 0; }
