// Main
$colors-primary: #b71c1c ;
$colors-accent: #d50000;
$colors-background: #FAFAFA;

$colors-success: #388e3c;
$colors-error: #F44336;

// Text colors
$colors-text-main: rgba(#000, .87);
$colors-text-accent: rgba(#000, 1);
$colors-text-inactive: rgba(#000, .38);

$colors-text-caption: rgba(#000, .54);
$colors-text-header: rgba(#fff, 1);

// Divider
$colors-divider: rgba(#000, .38);

// Shadows
$colors-shadow: rgba(#000, .26);