@import "material/schemes/colors";
@import "material/schemes/typography";
@import "material/schemes/metrics";

@import "material/animations";

@import "material/components/viewport";
@import "material/components/card";
@import "material/components/toolbar";


//
// Main Styles
html { height: 100%; }
body {
    background-color: $colors-background;
    -webkit-font-smoothing: antialiased;
    font-family: "Noto Sans", Roboto, serif;
    height: 100%;
    margin: 0;

    * {
        margin: 0;
        padding: 0;
    }
}

/*input {
    font-family: "Noto Sans", Roboto, serif;
    font-size: 24px;
    border: none;
    margin-top: 5px;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

 .app {
    max-width: 600px;
    margin: auto;
    -moz-user-select: none;
    user-select: none;
    position: relative;
}

.grid {
    margin: 5px;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.grid__item {
    display: inline-block;
    width: 33.33333333%;
    padding-top: 33.33333333%;
    text-align: center;
    position: relative;
    transition: transform .4s;
    background-color: #fff;

    * {
        pointer-events: none;
    }

    span {
        border: 1px solid #03A9F4;
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 5px;
        padding: 10px;
        font-size: 21px;
        //font-size: 3vw;
        justify-content: center;
        align-items: center;
    }

    em {
        font-style: normal;
    }
} */