.card {
    max-width: 464px;
    background: #fff;
    box-shadow: 0 2px 4px $colors-shadow;
    border-radius: 2px;
    margin: 8px;

    ._header {
        @extend %typography-header;
        padding: 24px 16px 12px;
        //background: $colors-primary;
    }

    ._content {
        @extend %typography-body;
        padding: 16px 16px 24px;
    }

    ._headline {
        @extend %typography-headline;
        margin-bottom: 2px;
        margin-top: -4px;
    }

    ._subheading {
        @extend %typography-subheading;
        margin-bottom: 16px;
    }

    ._caption {
        @extend %typography-caption;
    }

    ._textfield {
        margin-top: 16px;
    }

    ._textbox {
        @extend %typography-input;
        box-sizing: border-box;
        width: 100%;
        padding: 0 2px 4px;
        border: none;
        border-bottom: 2px solid $colors-shadow;
        appearance: none;
        outline: none;
        background: none;
        transition: border-color .2s;

        &:focus {
            border-color: $colors-primary;
        }

        &.-success {
            border-color: $colors-success;
        }

        &.-error {
            border-color: $colors-error;
        }
    }
}

@media (min-width: 481px) {
    .card {
        display: inline-block;
        width: calc(50% - 16px);
    }
}

@media (min-width: 800px) {
    .card {
        display: inline-block;
        width: calc(33.333% - 16px);
    }
}