.card {
    max-width: 464px;
    background: #fff;
    box-shadow: 0 2px 4px $colors-shadow;
    border-radius: 2px;
    margin: 8px;

    ._header {
        @extend %typography-header;
        padding: 24px 16px 12px;
        //background: $colors-primary;
    }

    ._content {
        @extend %typography-body;
        padding: 16px 16px 24px;
    }

    ._headline {
        @extend %typography-headline;
        margin-bottom: 2px;
        margin-top: -4px;
    }

    ._subheading {
        @extend %typography-subheading;
        margin-bottom: 16px;
    }

    ._caption {
        @extend %typography-caption;
    }
}

@media (min-width: 481px) {
    .viewport { max-width: none; }

    .card {
        display: inline-block;
        width: calc(50% - 16px);
    }
}