.toolbar {
	height: $toolbar-height-portrait;
	padding: 0 16px;
	background-color: $colors-primary;
	box-shadow: 0 3px 6px $colors-shadow;

	._title {
		color: $colors-text-header; 
		font-size: 20px;
		line-height: 52px;
	}
}

.toolbar.-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}