.toolbar {
	height: 56px;
	padding: 0 16px;
	background-color: $colors-primary;
	box-shadow: 0 3px 6px $colors-shadow;

	._title {
		color: $colors-text-header; 
		font-size: 20px;
		line-height: 52px;
	}
}